<h2>Add a New Contact</h2>
<hr />
@model Texter.Models.Contact

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)
    <input type="submit" value="Submit" />
}
@Html.ActionLink("Back Home", "Index")
